# Copyright 2025 NEC Corporation.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

# This file is a configuration file for the development environment of `Next.js`.
# If you are not developing this component, no configuration is required.

# API endpoint of the backend for Configuration Manager
# NEXT_PUBLIC_URL_BE_CONFIGURATION_MANAGER = 'http://localhost/infrastructure-config-sw/api/v1'

# API endpoint of the backend for Performance Manager (VictoriaMetrics)
# NEXT_PUBLIC_URL_BE_PERFORMANCE_MANAGER = 'http://localhost/api/v1'

# Use Mock Service Worker in environments other than development
# NEXT_PUBLIC_USE_MSW = 'false'
